* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Playwrite IS", cursive;
    font-optical-sizing: auto;
    font-style: normal;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    background-color: rgb(241, 204, 147);
}

header {
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

.heading h1 {
    text-decoration: underline;
    font-style: italic;
}

.heading {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    text-align: center;
    background-color: rgb(139, 209, 209);
    padding: 2rem 0;   
}

.title {
    letter-spacing: 2rem;
    
}

.navbar {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    gap: 3rem;
}

.navbar a {
    text-decoration: none;
    color: blueviolet;
    color: black;
}

.text {
    padding: 15rem;
    text-align: center;
    font-size: 3rem;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.projects {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 187, 117);
    padding-bottom: 4rem;
}

.images {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
}

img {
    width: 300px;
    height: 400px;
}

.heading2 {
    text-align: center;
    font-size: 2rem;
    padding: 1rem;
}

.heading2 h2 {
    display: inline-block;
    border-bottom: 2px solid black;
}


.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}

.contact h3{
    display: inline-block;
    border-bottom: 2px solid black;
    padding-top: 1rem;
}

.socials a{
    text-decoration: none;
    padding: 1rem;
    font-size: 1.2rem;
}

.socials {
    padding-top: 1rem;
}

.forms {
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    width: 40%;
    gap: 1rem;
}

input {
    height: 2.5rem;
    text-align: center;
}

textarea {
    text-align: center;
    padding-top: 2rem;
}

.submit {
    width: 100%;
    position: relative;
    padding-bottom: 3rem;
}

#btn1, #btn2 {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#btn2 {
    display: none;
    letter-spacing: 0.2rem;
    font-weight: bold;
    transition: all 0.5s ease;
    transform-origin: top;
}

#btn1:hover + #btn2 {
    display: block;
}

#btn2:hover {
    display: block;
    transform: scaleY(1.2);
}


img {
    border-radius: 1rem;
}

img:hover {
    opacity: 0.6;
    transition: all 1s ease;
}


.top-btn {
    position: fixed;
    border: 2px solid rgb(3, 2, 0);
    width: 4%;
    text-align: center;
    border-radius: 1rem;
    bottom: 1rem;
    right: 1rem;
}

.top-btn a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-style: normal;
}